{% extends 'base.html.twig' %}

{% block title %}Catalogue de Films{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/detailFilm.css') }}">
{% endblock %}

{% block body %}
<div class="detailFilm">
    <div class="detailFilm-wrapper">
        <h1>Details du film</h1>
    </div>
</div>
<div class="detailFilm-content">
    <div class="detailFilm-content-wrapper">
        <div class="detailFilm-content-left">
            <img src="{{ asset('uploads/affiches/' ~ film.affiche) }}" alt="{{ film.titre }}">
        </div>
        <div class="detailFilm-content-right">
            <h2>{{ film.titre }}</h2>
            <p>{{ film.synopsis }}</p>
            <p>{{ film.annee }}</p>
            <p>{{ film.duree }}</p>
            <p>{{ film.genres }}</p>
            <p>{{ film.prixLocation }}</p>
        </div>
    </div>
</div>
{% endblock %}
